<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All Tests">

    <suite-files>
        <suite-file path="test/suites/test-web.xml"/>
        <suite-file path="test/suites/test-config.xml"/>
        <suite-file path="test/suites/test-others.xml"/>
        <!--suite-file path="test/suites/test-demo.xml"/-->
    </suite-files>
	
    <listeners>
        <listener class-name="com.github.report4s.Listeners" />
    </listeners>
    
</suite>
