<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All Tests">

	<suite-files>
        <suite-file path="suites/test-web.xml"/>
        <suite-file path="suites/test-config.xml"/>
        <suite-file path="suites/test-others.xml"/>
	</suite-files>
	
	<listeners>
        <!--listener class-name="com.github.report4s.Listeners" /-->
		<listener class-name="com.github.report4s.ConfigurationListener" />
		<listener class-name="com.github.report4s.TestListener" />
		<listener class-name="com.github.report4s.SuiteListener" />
		<listener class-name="com.github.report4s.Reporter" />
	</listeners>
	
</suite>
